extends layout

block content
  .container
    br
    br
    h3 My blog
    p
      | I'll write here occassionally about my adventures in life and programming.
      | Subscribe for more!
    br
    - for (const post of posts) {
      a(href=`/blog/${post.slug}`)
        h5= post.title
        p.grey-text.text-darken-3
          = post.shortContent
          | ...
    - }
    br
    br
    br
