extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h1.header.center.primary Hi, I'm Tyler Boyd
      .row.center
        h5.header.col.s12.light I'm a Software Engineering student at the University of Waterloo<br/> with a passion for web development.
      .row.center
        a.btn-large.waves-effect.waves-light.secondary-bg(href='/tyler_boyd.pdf', target='_blank')
          i.material-icons.left cloud_download
          |  Resume
        &emsp;
        a.btn-large.waves-effect.waves-light(href='/blog')
          i.material-icons.left post_add
          |  Blog
      br
      br
  .container
    .section
      // Icon Section
      .row
        .col.s12.m4
          .icon-block
            h2.center.primary
              i.material-icons flash_on
            h5.center Rapid prototyping
            p.light
              | Experienced in quickly building &amp; deploying prototypes for startups using Ruby on Rails.
            p.light
              | Focus on determining the minimum viable product, building and testing it, and then deploying it.
            p.light
              | I have brought many projects from an idea to a live product through rapid prototyping and Agile development.
        .col.s12.m4
          .icon-block
            h2.center.primary
              i.material-icons book
            h5.center Long-term projects
            p.light
              | Working on enterprise projects has taught me how to communicate effectively with larger, possible external, teams.
            p.light
              | Experienced in reading &amp; writing technical documentation and specs, as well as working with existing
              | codebases to provide new features while maintaining backwards compatibility.
        .col.s12.m4
          .icon-block
            h2.center.primary
              i.material-icons group
            h5.center Team focused
            p.light
              | I have learned the importance of being able to work as a team of any size. While I have experience working alone,
              |  working with a team is a great way to accomplish things no individual can do alone, and it is a great learning opportunity.
            p.light
              | I love working with a new team and spending time getting to know my team members.
    br
    br
    .section
